[901]
NAME="Nothing"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo ''
[901-END]

[902]
NAME="Exec two command"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo 'ls /etc'
  echo 'cat /etc/resolv.conf'
[902-END]

[903]
NAME="Testing with /usr/bin PATH"
SETUP="export TERM=xterm ; PATH='/usr/bin'"
CLEAN=""
TESTS=
  echo 'pwd'
[903-END]

[904]
NAME="Testing with /bin PATH"
SETUP="export TERM=xterm ; PATH='/bin'"
CLEAN=""
TESTS=
  echo 'pwd'
[904-END]

[905]
NAME="run commands"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo 'cat /etc/resolv.conf'
  sleep 0.5
  echo 'ls -l /etc'
  sleep 0.5
  echo 'pwd'
[905-END]

[906]
NAME="setenv and unsetenv"
SETUP="/usr/bin/env > .lstenv ; while read varenv ; do unset $varenv ; done < <(/bin/cat .lstenv | /usr/bin/cut -f1 -d=) ; export PATH=/bin:/usr/bin ; export _=ls ; export LS_COLORS=RID ; export MYBG=4 ; export LVL=4 ; export NOTE=2"
CLEAN="while read varenv ; do export "$varenv" 2>/dev/null ; done  < <(/bin/cat .lstenv) ; /bin/rm -f .lstenv"
TESTS=
  echo 'unsetenv HOSTTYPE'
  echo 'unsetenv VENDOR'
  echo 'unsetenv OSTYPE'
  echo 'unsetenv MACHTYPE'
  echo 'unsetenv SHLVL'
  echo 'unsetenv PWD'
  echo 'unsetenv LOGNAME'
  echo 'unsetenv USER'
  echo 'unsetenv GROUP'
  echo 'unsetenv HOST'
  echo 'unsetenv REMOTEHOST'
  echo 'unsetenv _'
  echo 'unsetenv LS_COLORS'
  echo 'unsetenv NOTE'
  echo 'unsetenv NLSPATH'
  echo 'setenv titi'
  echo 'setenv tata coucou'
  echo 'env'
  echo '/usr/bin/env'
  echo 'setenv var1 val1'
  echo 'setenv var2 val2'
[906-END]

[907]
NAME="builtin cd"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo 'cd ..'
  echo 'ls -l'
  echo 'cd /usr'
  echo 'ls -l'
[907-END]

[908]
NAME="many tab and space"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo -e "\t\t    ls\t     \t-l    \t\t  \t -a /usr   \t\t"
[908-END]

[909]
NAME="Launch DivZero program with core dump"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "./my_divzero" 
[909-END]

[910]
NAME="Segfault program with core dump"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "./segfaul" 
[910-END]

[911]
NAME="Redirection gaming"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "cat < README | wc-l" 
[911-END]

[912]
NAME="Redirection no input folder"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "cat <" 
[912-END]

[913]
NAME="Redirection no pipe command"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "cat < README |" 
[913-END]

[914]
NAME="Redirection starts with pipe"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "| ls" 
[914-END]

[915]
NAME="Error in middle gaming"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "cat < README | wc -0 | ls" 
[915-END]

[916]
NAME="Error in two left redirect"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "cat < README < nope | wc -l | ls" 
[916-END]

[917]
NAME="Error in two right redirect"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "cat < README | wc -l > hello | ls" 
[917-END]

[918]
NAME="Error in end gaming"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "cat < README | wc -0" 
[918-END]

[919]
NAME="Empty command middle"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "ls;;ls" 
[919-END]

[920]
NAME="Incompatible bin"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "./copy_ls" 
[920-END]

[921]
NAME="cat input in output"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "cat < testfile > testfile" 
[921-END]

[922]
NAME="|>"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "ls | cat > testfile; cat testfile" 
[922-END]

[923]
NAME="Weird order"
SETUP="export TERM=xterm ; PATH='/bin:/usr/bin'"
CLEAN=""
TESTS=
  echo "< cat README" 
[923-END]